.Pic{
  border: 1px solid black;
  width: 150px;
  height : 160px;
}
img{
  width : 100%;
}
.dropdown {
  box-shadow: 0 0 8px #777;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

.dropdown.is-open {
  display: block;
}
#table-wrapper {
  position:relative;
  border: 1px solid;
  border-color:#eeeeee;
}
#table-scroll {
  height:250px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {

}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
